.footer {
  background: #000;
}

.footer_container {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  max-width: 1200px;
  gap: 100px;
  margin: 0 auto;
  color: #fff;
  padding: 150px 20px 60px 20px;
  align-items: center;
}

.footer_container::after {
  position: absolute;
  content: url(../img/detalhe.svg);
  top: -60px;
}

.mensagem_footer {
  font-size: 1.5rem;
  max-width: 40ch;
  justify-content: center;
}

.contato {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 2.25rem;
  font-weight: bold;
  width: 15ch;
}

.contato a {
  color: #fff;
}

.copy {
  grid-column: span 2;
  color: #ccc;
  font-size: 1.125rem;
  align-self: end;
}

@media (max-width: 800px) {
  .footer_container {
    grid-template-columns: 1fr;
    gap: 60px;
  }

  .contato {
    font-size: 1.6rem;
    font-weight: bold;
  }

  .copy {
    grid-column: initial;
  }
}
