* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 0 6.25rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}