.apresentacao {
  align-items: center;
  padding: 40px 20px;
}

.apresentacao img {
  border-radius: 50%;
}

.apresentacao h1 {
  font-size: 4rem;
  line-height: 1;
}

.main_localizacao {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.apresentacao p {
  font-size: 1.4rem;
}

@media (max-width: 1000px) {
  .apresentacao h1 {
    font-size: 3rem;
  }
}

@media (max-width: 800px) {
  .apresentacao {
    gap: 0 4rem;
  }

  .apresentacao p {
    font-size: 1rem;
  }
}

@media (max-width: 700px) {
  .apresentacao {
    gap: 0 4rem;
  }

  .apresentacao h1 {
    font-size: 2rem;
  }
}

@media (max-width: 500px) {
  .apresentacao {
    gap: 0 2rem;
  }

  .apresentacao h1 {
    font-size: 1.6rem;
  }

  /* .apresentacao p {
        font-size: 1.2rem;
    } */
}

@media (max-width: 450px) {
  .apresentacao {
    grid-template-columns: 1fr;
  }

  .header_foto {
    display: none;
  }

  .apresentacao h1 {
    font-size: 2rem;
  }
}
